{% extends 'main/base.html' %}
{% load bootstrap4 %}
{% load thumbnail %}
{% load static %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <div class="content">
        <h2 class="rut">Последние 4 выполненных заявки:</h2>
        <p class="text-right font-italic">Количество заявок, находящихся в статусе «Принято в работу»: {{ counter }}</p>
    </div>

    {% if bbs %}
        <ul class="list-unstyled">
            {% for bb in bbs %}
                <li class="blocks">
                    {% url 'detail' rubric_pk=rubric.pk pk=bb.id as url %}
                    <a class="text_ww" href="{{ url }}{{ all }}">
                        {% if bb.image %}
                            <img class="mr-3" src="{% thumbnail bb.image 'default' %}">
                        {% else %}
                            <img class="mr-3" src="{% static 'rubric/empty.jpg' %}">
                        {% endif %}
                    </a>
                    <div class="media-body">
                        <h3><a class="text_ww" href="{{ url }}/{{bb.rubric.id}}/{{ bb.pk }}">{{ bb.title }}</a></h3>
                        <div class="text_ww">{{ bb.content }}</div>
                        <p class="text_as">Cтатус {{ bb.status }}</p>
                        <p class="text_as">{{ bb.created_at }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block task %}
    <h5 class="logo">Дизайн интерьера</h5>
{% endblock %}

{% block css %}
    <footer>
		<div style="width: 100%;color: #000;margin-top: -260px;border-bottom: 4px solid rgb(245, 245, 245);" class="drop"></div>
		<div class="about me">
			<img style="width:170px;height:179px;margin-top:-5px" class="imges" src="https://i.pinimg.com/originals/a6/6f/29/a66f297794d3f99e18157a73d543d063.jpg" alt="#">
			<h1 style="    font-size: 30px;
    margin-left: 180px;
    margin-top: -130px;
}"class="name">Username - INDEYEC</h1>


			<a class="rederect" href="https://github.com/indeyec">My github</a>
		</div>
	</footer>
{% endblock %}
